body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

img{
    margin: 20px ;
}

.custom-navbar{
    background-color: #5f9ea0;
}

footer{
    background-color: #5f9ea0;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    font-size: large;
}     
.titulo{
    text-align: center;
}
